<%- include('partails/header')%>
<body>
<div class="about-us" id="startchange">
    <a name="about"></a>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="descript col-xs-12 col-sm-12 col-md-12">
          <h1>ABOUT US</h1>
          <p class="about-us-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#" class="team">Our Team</a>
        </div>
      </div>
    </div>
  </div>

  <div class="break2 container-fluid text-center">
    <h3>We love being busy!</h3>
  </div>
</body>