<%- include('partails/header')%>
<div class="space row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1606936278588-046c8816a75e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80 1000w" />
        <div class="caption">
          <h3>Traveller's Blog</h3>
          <p>Take a look at our design of the Traveller's Blog. The website of a world traveller.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1547656807-9733c2b738c2?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80 934w" />
        <div class="caption">
          <h3>Digitize</h3>
          <p>See our work on Digitize website. A digital marketing firm.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1615886490002-ae8172eea2de?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" />
        <div class="caption">
          <h3>HeadPhones DotInc</h3>
          <p>A website for HeadPhones DotInc's latest product. Take a look!</p>
        </div>
      </div>
    </div>

  </div>